<html lang="en">
    <head>
        <title> FileServer - Image </title>
        <link rel="stylesheet" href="../public/image_page.css">
    </head>
    <body>
        <div id="toolbar">
            <p>
            <a href="/">Home</a>
            <a href="../image_selector">Images</a>
            </p>
        </div>   
        <img src="/public/images/<%- image_url %>" alt="" style="max-width:1920px;height:auto;">
    </body>
</html>