<html lang="en">
    <head>
        <link rel="stylesheet" href="../public/main_styles.css">
        <title>FileServer - Image Selector</title>
    </head>
    <body>
        <div id="Toolbar"></div>
        <h1><a href="../image/?image=image1.jpg">Image 1 </a></h1>
        <h1><a href="../image/?image=image2.jpg">Image 2 </a></h1>
        <h1><a href="../image/?image=image3.jpg">Image 3 </a></h1>
        <h1><a href="../image/?image=image4.jpg">Image 4 </a></h1>

        <script src="/public/browser.bundle.js"></script>
    </body>
</html>
