<html lang="en">
    <head>
        <link rel="stylesheet" href="../public/image_page.css">
        <title>FileServer - Images</title>
    </head>
    <body>
        <div id="toolbar">
            <p>
            <a href="/">Home</a>
            <a href="../image_selector">Images</a>
            </p>
        </div>  
        <h1><a href="../image/?image=image1.jpg">Image 1 </a></h1>
        <h1><a href="../image/?image=image1.jpg">Image 2 </a></h1>
        <h1><a href="../image/?image=image1.jpg">Image 3 </a></h1>
        <h1><a href="../image/?image=image1.jpg">Image 4 </a></h1>
    </body>
</html>