<html lang="en">
    <head>
        <title> FileServer - <%- image_url %> </title>
        <link rel="stylesheet" href="../public/main_styles.css">
    </head>
    <body>
      <div id="Toolbar"></div>
      <img src="/public/images/<%- image_url %>" alt="" style="max-width:1920px;height:auto;">
      <script src="/public/browser.bundle.js"></script>
    </body>
</html>
